.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
}

.board {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #c6c6c6;
  border-top: 5px solid #888;
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
  border-left: 5px solid #888;
}

.row {
  display: flex;
}

.bigBoard {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 1.5%;
  background-color: #c6c6c6;
  border-top: 5px solid#fff;
  border-right: 5px solid #888;
  border-bottom: 5px solid #888;
  border-left: 5px solid #fff;
  box-shadow: -1px -1px 6px -2px #555;
}

.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 15px;
  border-top: 5px solid#888;
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
  border-left: 5px solid #888;
}

.face {
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  width: 47px;
  height: 47px;
  padding: 0;
  cursor: pointer;
  background-image: url('~/src/assets/images/icons.png');
  background-repeat: no-repeat;
  background-size: 600px 43px;
  border-top: 5px solid#fff;
  border-right: 5px solid #888;
  border-bottom: 5px solid #888;
  border-left: 5px solid #fff;
}

.face.smile {
  background-position: -474px -3px;
}

.face.cool {
  background-position: -517px -3px;
}

.face.sad {
  background-position: -560px -3px;
}

.timer {
  text-align: center;
  cursor: pointer;
  background-color: #000;
  border-top: 3px solid #808080;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #808080;
}

.timerDigit {
  float: left;
  width: 26px;
  height: 47px;
  background: url('~/src/assets/images/digital.png') no-repeat;
  background-size: 25px 498px;
  border: 1px solid#000;
}

.timerDigit0 {
  background-position-y: 0;
}

.timerDigit1 {
  background-position-y: -50px;
}

.timerDigit2 {
  background-position-y: -100px;
}

.timerDigit3 {
  background-position-y: -150px;
}

.timerDigit4 {
  background-position-y: -200px;
}

.timerDigit5 {
  background-position-y: -250px;
}

.timerDigit6 {
  background-position-y: -300px;
}

.timerDigit7 {
  background-position-y: -350px;
}

.timerDigit8 {
  background-position-y: -400px;
}

.timerDigit9 {
  background-position-y: -450px;
}

.flagCount {
  text-align: center;
  cursor: pointer;
  background-color: #000;
  border-top: 3px solid #808080;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #808080;
}

.cell {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
}

.cellBomb {
  background: url('~/src/assets/images/icons.png') -300px no-repeat;
}

.cellClickBomb {
  background: url('~/src/assets/images/icons.png') -300px no-repeat;
  background-color: red;
}

.cellFlag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') -207px no-repeat;
  background-color: #c6c6c6;
  background-origin: content-box;
  background-size: 325px 23px;
  border-top: 3.5px solid#fff;
  border-right: 3.5px solid #888;
  border-bottom: 3.5px solid #888;
  border-left: 3.5px solid #fff;
}

.cellQuestion {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') -185px no-repeat;
  background-color: #c6c6c6;
  background-size: 325px 23px;
  border-top: 3.5px solid#fff;
  border-right: 3.5px solid #888;
  border-bottom: 3.5px solid #888;
  border-left: 3.5px solid #fff;
}

.cellHide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #c6c6c6;
  border-top: 3.5px solid#fff;
  border-right: 3.5px solid #888;
  border-bottom: 3.5px solid #888;
  border-left: 3.5px solid #fff;
}

.custom {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.cell0 {
  background-color: #c6c6c6;
}

.cell1 {
  background: url('~/src/assets/images/icons.png') no-repeat;
}

.cell2 {
  background: url('~/src/assets/images/icons.png') -30px no-repeat;
}

.cell3 {
  background: url('~/src/assets/images/icons.png') -60px no-repeat;
}

.cell4 {
  background: url('~/src/assets/images/icons.png') -90px no-repeat;
}

.cell5 {
  background: url('~/src/assets/images/icons.png') -120px no-repeat;
}

.cell6 {
  background: url('~/src/assets/images/icons.png') -150px no-repeat;
}

.cell7 {
  background: url('~/src/assets/images/icons.png') -180px no-repeat;
}

.cell8 {
  background: url('~/src/assets/images/icons.png') -210px no-repeat;
}
