.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
}

.board {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #c6c6c6;
  border-top: 5px solid #888;
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
  border-left: 5px solid #888;
}

.row {
  display: flex;
}

.bigBoard {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 15px;
  background-color: #c6c6c6;
  border-top: 5px solid #fff;
  border-right: 5px solid #888;
  border-bottom: 5px solid #888;
  border-left: 5px solid #fff;
  box-shadow: -1px -1px 6px -2px #555;
}

.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-top: 5px solid #888;
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
  border-left: 5px solid #888;
}

.face {
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  width: 47px;
  height: 47px;
  padding: 0;
  cursor: pointer;
  background-image: url('~/src/assets/images/icons.png');
  background-repeat: no-repeat;
  background-size: 600px 43px;
  border-top: 5px solid #fff;
  border-right: 5px solid #888;
  border-bottom: 5px solid #888;
  border-left: 5px solid #fff;
}

.face.smile {
  background-position: -474px -3px;
}

.face.cool {
  background-position: -517px -3px;
}

.face.sad {
  background-position: -560px -3px;
}

.timer {
  text-align: center;
  cursor: pointer;
  background-color: #000;
  border-top: 3px solid #808080;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #808080;
}

.timerDigit {
  float: left;
  width: 26px;
  height: 47px;
  background: url('~/src/assets/images/digital.png') no-repeat;
  background-size: 25px 498px;
  border: 1px solid #000;
}

.flagCount {
  text-align: center;
  cursor: pointer;
  background-color: #000;
  border-top: 3px solid #808080;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #808080;
}

.cell {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  border: 1px solid #000;
}

.cellOpen {
  background-color: #c6c6c6;
}

.cellBomb {
  background-position: -300px;
}

.cellClickBomb {
  background-color: red;
  background-position: -300px;
}

.cellFlag {
  background-color: #c6c6c6;
  background-position: -270px;
}

.cellQuestion {
  background-color: #c6c6c6;
  background-position: -240px;
}

.cellHide {
  background-color: #c6c6c6;
  background-image: none !important;
  border-top: 3px solid #fff;
  border-right: 3px solid #808080;
  border-bottom: 3px solid #808080;
  border-left: 3px solid #fff;
}

.custom {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}
