.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
}

.board {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #c6c6c6;
  border-top: 5px solid #888;
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
  border-left: 5px solid #888;
}

.row {
  display: flex;
}

.bigBoard {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 1.5%;
  background-color: #c6c6c6;
  border-top: 5px solid#fff;
  border-right: 5px solid #888;
  border-bottom: 5px solid #888;
  border-left: 5px solid #fff;
  box-shadow: -1px -1px 6px -2px #555;
}

.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 15px;
  border-top: 5px solid#888;
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
  border-left: 5px solid #888;
}

.face {
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  width: 47px;
  height: 47px;
  padding: 0;
  cursor: pointer;
  background-image: url('~/src/assets/images/icons.png');
  background-repeat: no-repeat;
  background-size: 600px 43px;
  border-top: 5px solid#fff;
  border-right: 5px solid #888;
  border-bottom: 5px solid #888;
  border-left: 5px solid #fff;
}

.face.smile {
  background-position: -474px -3px;
}

.face.cool {
  background-position: -517px -3px;
}

.face.sad {
  background-position: -560px -3px;
}

.resetButton {
  padding: 1px;
  border: 1px outset #888;
}

.timer {
  text-align: center;
  cursor: pointer;
  background-color: #000;
  border-top: 3px solid #808080;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #808080;
}

.timerDigit {
  float: left;
  width: 26px;
  height: 47px;
  background: url('~/src/assets/images/digital.png') no-repeat;
  background-size: 25px 498px;
  border: 1px solid#000;
}

.timerDigit0 {
  background-position-y: 0;
}

.timerDigit1 {
  background-position-y: -50px;
}

.timerDigit2 {
  background-position-y: -100px;
}

.timerDigit3 {
  background-position-y: -150px;
}

.timerDigit4 {
  background-position-y: -200px;
}

.timerDigit5 {
  background-position-y: -250px;
}

.timerDigit6 {
  background-position-y: -300px;
}

.timerDigit7 {
  background-position-y: -350px;
}

.timerDigit8 {
  background-position-y: -400px;
}

.timerDigit9 {
  background-position-y: -450px;
}

.flag {
  float: left;
  width: 25px;
  height: 47px;
  text-align: center;
  cursor: pointer;
  background-color: #000;
  background-size: 25px 495px;
  border-top: 3px solid #808080;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #808080;
}

.flagCount {
  text-align: center;
  cursor: pointer;
  background-color: #000;
  border-top: 3px solid #808080;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #808080;
}

.custom {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.cellBomb {
  background-image: url('~/src/assets/images/icons.png');
  background-position: -300px 0 !important;
}

.cellBombHit {
  background-color: red;
  background-image: url('~/src/assets/images/icons.png');
  background-position: -300px 0 !important;
}

.cell {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
}

.cellHide {
  width: 100%;
  height: 100%;
  background-color: #c6c6c6;
  border-top: 3.5px solid #fff;
  border-right: 3.5px solid #888;
  border-bottom: 3.5px solid #888;
  border-left: 3.5px solid #fff;
}

.cellFlag,
.cellNone,
.cellBomb,
.cellBombHit {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: center;
}

.cellFlag {
  background-image: url('~/src/assets/images/icons.png');
  background-position: -270px;
}

.cellNone {
  background-image: url('~/src/assets/images/icons.png');
  background-position: -240px;
}

.cellFlagVisible {
  display: block;
}

.cell.clicked .cellFlagVisible {
  display: block;
}

.cell0,
.cell1,
.cell2,
.cell3,
.cell4,
.cell5,
.cell6,
.cell7,
.cell8 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #c6c6c6;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.cell0 {
  background-color: #c6c6c6;
  background-image: none;
}

.cell1 {
  background-image: url('~/src/assets/images/icons.png');
  background-position: 0;
}

.cell2 {
  background-image: url('~/src/assets/images/icons.png');
  background-position: -30px;
}

.cell3 {
  background-image: url('~/src/assets/images/icons.png');
  background-position: -60px;
}

.cell4 {
  background-image: url('~/src/assets/images/icons.png');
  background-position: -90px;
}

.cell5 {
  background-image: url('~/src/assets/images/icons.png');
  background-position: -120px;
}

.cell6 {
  background-image: url('~/src/assets/images/icons.png');
  background-position: -150px;
}

.cell7 {
  background-image: url('~/src/assets/images/icons.png');
  background-position: -180px;
}

.cell8 {
  background-image: url('~/src/assets/images/icons.png');
  background-position: -210px;
}
